@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #9eeafc;
    height: 100vh;
    width: 100vw;
}

main {
    background-color: #9eeafc;
    height: 100vh;
    width: 100vw;
}

section#login div.imagem {
    background: black url(../imagens/login-rsp.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;

}

section#login {
    background-color: white;
    display: block;
    height: 450px;
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

section#login div.formulario {
    text-align: center;
    align-items: center;
    margin: 10px;
}

section#login h1 {
    margin: 5px;
    color: rgba(71, 222, 255, 1);
}

section#login p {
    color: rgba(129, 129, 129, 1);
}

form div#campo {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px;
    background-color: #9eebfcf8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 2px 2px 2px rgba(10, 181, 204, 0.267);
}

div#campo span {
    color: rgb(0, 52, 97);
}

div#campo input {
    margin: 10px;
    background-color: transparent;
    outline: none;
    border: 0px;
    align-items: center;
}

div.formulario label {
    display: none;
}

section#login form {
    display: block;
    height: 190px;
    padding: 10px;
}


button {
    display: block;
    position: relative;
    left: 50%;
    width: 60%;
    height: 30px;
    margin: 10px;
    margin-top: 30px;
    background-color: rgba(71, 222, 255, 1);
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 2px  rgba(10, 181, 204, 0.267);
    transform: translate(-50%);
}

button:hover {
    background-color: #effcff;
    border: 1px solid rgba(10, 181, 204, 0.267);
    transition: .2s;
}

div#esqueci {
    display: flex;
    font-size: 0.8em;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

a {
    margin-left: 35px;
    text-align: center;
    text-decoration: none;
}

span#mood {
    display: inline-block;
    color: #9eeafc;
    margin-left: 5px;
}

/* --------------------------------------------------- MIDIA --------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 992px) {

    body, html {
        background: linear-gradient(180deg, #47DEFF 0%, #B9F2FF 100%);
        height: 100vh;
        width: 100vw;
    }

    section#login div.imagem {
        background: black url(../imagens/login-rsp.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        width: 150px;
    
    }
    
    section#login {
        background-color: white;
        display: block;
        height: 300px;
        width: 400px;
        position: relative;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
    
}

@media screen and (min-width: 992px) {
    
}